@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Corpo da página */

body {
  background: #FFFFFF;
  font-family: sans-serif;
  margin: auto;
}

/* Topo da página */

section#pageup {
  background-image: url("../assets/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  width: 100%;
  height: 400px;

  font-family: 'Ubuntu';
  color: #E5E5E5;
}

/* Nome/Logo da empresa */

h2#logo {
  position: absolute;
  width: 110px;
  height: 30px;
  left: 100px;
  top: 10px;

  font-family: 'Piedra';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  display: flex;

  color: #FFFFFF;
}

/* Background do topo da página */

section#pageup img {
  position: relative;
  width: 25px;
  height: 25px;
  left: 70px;
  top: 30px;
}

/* Navegação entre páginas */

div#navigation nav {
  display: block;
}

div#navigation nav ul {
  list-style: none;
  margin-top: -10px;
  text-align: center;
}

div#navigation nav li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  transition: background-color 1s;
}


div#navigation nav li:hover {
  background-color: #30443B;
}

div#navigation nav a {
  color: #E5E5E5;
  text-decoration: none;
}

/* Link para o Instagram */

div#instagram {
  width: 200px;
  height: 100px;

  position: absolute;
  right: 70px;
  top: 5px;
}

div#instagram a#username {
  color: #E5E5E5;
  text-decoration: none;
}

div#instagram a#username:hover {
  color: #30443B;
}

div#instagram a#insta {
  position: relative;
  right: 70px;
  bottom: 22px;
}

/* Descrição da Empresa no topo da página*/

div#description {
  position: absolute;
  width: 745px;
  height: 85px;
  left: 70px;
  top: 120px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #E5E5E5;
}

/* Seção inferior da página */

#BB{
  text-align: center;
  margin-top: 50px;
}

#AB{
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-align: justify;
}

div#mission{
  float: left;
}

div#vision{
  margin-top: 80px;
  float: right;
  margin-left: 200px;
}

div#values{
  float: right;
  margin-left: 200px;
}

/* Rodapé */

footer {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 760px;

  border-top: 1px solid #606060;
  background: #E5E5E5;;
}

footer p#contato {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 70px;

  margin-top: 10px;

  font-family: 'Ubuntu';
  font-size: 16px;
  line-height: 24px;

  text-align: left;
  color: #000000;
}

footer p#copy {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  color: #000000;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer img {
  position: flex;
  width: 15px;
  height: 15px;
}
