@charset "UTF-8";

body {
  background-color: white;
}

body::after {
  content: "";
  position: absolute;
  background: #0377BB;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  z-index: -1;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

#page-home header {
  margin-top: 48px;
  margin-bottom: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home header a {
  display: flex;
}

#page-home header a#logo {
  font-family: Piedra;
  font-size: 24px;
}

#page-home header a#logo img {
  margin-right: 16px;
  display: flex;

  background-image: url('../assets/logo_first.svg');

  width: 32px;
  height: 32px;
}

#page-home header ul {
  list-style: none;

  display: flex;
  justify-content: space-between;

  width: 250px;
}

#page-home header ul li {
  font-size: 13pt;

  padding: 8px;
  border-radius: 8px;

  transition: background-color 1s;
}

#page-home header ul li:hover {
  background-color: #30443B;
}

#page-home header p {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

#page-home header p a {
  font-weight: bold;

  margin-top: 8px;
}

#page-home header p a img {
  margin-right: 8px;
  display: flex;

  background-image: url('../assets/instagram.svg');

  width: 20px;
  height: 20px;
}

#page-home main div#images {
  display: flex;
  align-items: center;

  margin-top: 16px;
  margin-left: 48px;
}

#page-home main div#images img {
  width: 324px;
  height: 250px;

  padding: 32px;
  border-radius: 40px;
}

#page-home main a {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 180px;
  height: 56px;

  padding-left: 35px;

  border-radius: 8px;
  margin-left: 42%;

  font-size: 20pt;
  text-align: center;

  background: #0377BB;
  color: white;
  font: Robot;
  font-weight: bold;
  
  transition: 400ms;
}

#page-home main a:hover {
  background-color: #104f74;
}

#page-home footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  bottom: 0;
  margin-top: 48px;

  color: black;
}

#page-home footer::after {
  content: "";
  position: absolute;
  background: #E5E5E5;

  left: 0;
  top: 780px;
  right: 0;
  bottom: 0;

  height: 7rem;
  z-index: -1;

  border-top: 1px solid #606060;
}

footer p {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

footer span {
  margin-right: 8px;
  display: flex;
  
  width: 24px;
  height: 24px;
}

footer p#mail span {
  background-image: url('../assets/mail.svg');
}

footer p#ig span {
  background-image: url('../assets/insta_footer.png');
}

footer p#copy {
  display: flex;
  flex-direction: column;

  /* margin-right: 45%; */

  font-size: 14px;
  line-height: 20px;
  color: black;
}

footer p#copy a {
  font-style: italic;
  color: #3F51B4;;
}