@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Corpo da página */

body {
  background: #FFFFFF;
  font-family: sans-serif;
  margin: auto;
}

/* Topo da página */

section#pageup {
  color: #E5E5E5;
  height: 90px;
  
  font-family: 'Ubuntu';
  background: #E5E5E5;

  margin-bottom: 50px;
  border-bottom: 1px solid #606060;
}

/* Nome/Logo da empresa */

h2#logo {
  position: absolute;
  width: 110px;
  height: 30px;
  left: 100px;
  top: 10px;

  font-family: 'Piedra';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  display: flex;

  color: #0377BB;
}

/* Ícones topo da página */

section#pageup img {
  position: relative;
  width: 25px;
  height: 25px;
  left: 70px;
  top: 30px;
}

/* Navegação entre páginas */

div#navigation nav {
  display: block;
}

div#navigation nav ul {
  list-style: none;
  margin-top: -10px;
  text-align: center;
}

div#navigation nav li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  transition: background-color 1s;
}


div#navigation nav li:hover {
  background-color: #30443B;
}

div#navigation nav a {
  color: #0377BB;
  text-decoration: none;
}

/* Link para o Instagram */

div#instagram {
  width: 200px;
  height: 100px;

  position: absolute;
  right: 70px;
  top: -5px;
  color: #0377BB;
}

div#instagram a#username {
  color: #000000;
  text-decoration: none;
}

div#instagram a#username:hover {
  color: #0377BB;
}

div#instagram a#insta {
  position: relative;
  right: 70px;
  bottom: 22px;
}

section#insta{
  position: relative;
  left: 45%;
  background-color: #0377BB;

  width: 170px;
  border-radius: 20px;
  padding: 5px;

  border: 2px solid black;
  text-align: center;
}

section#insta a{
  color: white;
  font: 'Roboto';
  font-size: 15pt;

  text-align: center;
  text-decoration: none;
}

/* Imagens */

div#images{
  text-align: center;
}

section#images img {
  position: relative;
  display: inline-block;
  width: 304px;
  height: 250px;

  border-radius: 20px;

  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
}

/* Rodapé */

footer {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: -230px;

  border-top: 1px solid #606060;
  background: #E5E5E5;
}

footer p#contato {
  position: absolute;
  width: 400px;
  height: 40px;
  left: 70px;

  margin-top: 10px;

  font-family: 'Ubuntu';
  font-size: 16px;
  line-height: 24px;

  text-align: left;
  color: #000000;
}

footer p#copy {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  color: #000000;
}

footer a {
  color: #000000;
  text-decoration: none;
}

footer img {
  position: flex;
  width: 15px;
  height: 15px;
}
